<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zeng.house.dao.LianjiaDao" >

    <select id="select"
            resultType="com.zeng.house.bean.LianjiaHouse">
        SELECT
            *
        FROM house_lj
        <where>
              id > 0
            <if test="house.priceF != null">
                AND #{house.priceF} >= priceF
            </if>
            <if test="house.totalF != null" >
                AND #{house.totalF} >= totalF
            </if>
            <if test="house.sizeF != null">
                AND sizeF >= #{house.sizeF}
            </if>
            <if test="house.buildTimeF != null">
                AND buildTimeF >= #{house.buildTimeF}
            </if>
            <if test="house.lastSaleF != null">
                AND #{house.lastSaleF} >= lastSaleF
            </if>
            <if test="house.putOutF != null">
                AND putOutF >= #{house.putOutF}
            </if>
            <if test="house.shape != null">
                AND shape >= #{house.shape}
            </if>
            <if test="house.position != null">
                AND position = #{house.position}
            </if>
            <if test="house.direction != null">
                and direction = #{house.direction}
            </if>
            <if test="house.decorate != null">
                AND decorate = #{house.decorate}
            </if>
            <if test="house.elevator != null">
                AND elevator = #{house.elevator}
            </if>
            <if test="house.property != null">
                AND property = #{house.property}
            </if>
            ORDER BY evaluatePoint DESC
            limit #{limit}
        </where>
    </select>

    <select id="count" resultType="long">
        SELECT
            COUNT(*)
        FROM house_lj
        <where>
            <if test="priceF != null">
                AND #{priceF} >= priceF
            </if>
            <if test="totalF != null" >
                AND #{totalF} >= totalF
            </if>
            <if test="sizeF != null">
                AND sizeF >= #{sizeF}
            </if>
            <if test="buildTimeF != null">
                AND buildTimeF >= #{buildTimeF}
            </if>
            <if test="lastSaleF != null">
                AND #{lastSaleF} >= lastSaleF
            </if>
            <if test="putOutF != null">
                AND putOutF >= #{putOutF}
            </if>
            <if test="shape != null">
                AND shape >= #{shape}
            </if>
            <if test="position != null">
                AND position = #{position}
            </if>
            <if test="direction != null">
                and direction = #{direction}
            </if>
            <if test="decorate != null">
                AND decorate = #{decorate}
            </if>
            <if test="elevator != null">
                AND elevator = #{elevator}
            </if>
            <if test="property != null">
                AND property = #{property}
            </if>
        </where>
    </select>

    <insert id="insert" parameterType="com.zeng.house.bean.LianjiaHouse">
        insert into house_lj(title, price, priceF, total, totalF, size, sizeF, floor,
        buildTime, buildTimeF, shape, priceAvg, priceAvgF, lastSale, lastSaleF, position,
        putOut, putOutF, direction, decorate, elevator, property, url, pcUrl, evaluatePoint)
        values(#{title}, #{price}, #{priceF}, #{total}, #{totalF}, #{size}, #{sizeF}, #{floor}, #{buildTime},
        #{buildTimeF}, #{shape}, #{priceAvg}, #{priceAvgF}, #{lastSale}, #{lastSaleF}, #{position}, #{putOut},
        #{putOutF}, #{direction}, #{decorate}, #{elevator}, #{property}, #{url}, #{pcUrl}, #{evaluatePoint})
    </insert>

</mapper>